.sessionaListContainer{
    /*Full Screen, 100% of the viewport height, all centered*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*Width full screen*/
    /*Background color*/
}